@media print {
    #BillNo{
        display: block;
        font-size: 26px;
        margin-top: 5px;
    }
     .bill-input,button,h1{
         display: none;
     }
     .bill-container{
         margin-top: 20px;
        margin-left: 0px;
        float: none;
     }
     .Shop{
         text-align: center;
         font-size: 32px;
     }
     strong{
         font-size: 40px;
     }
     .invoice{
         font-size: 26px;
     }
     input{
         border: none;
         outline: none;
     }
     #tenderValue{
        text-align: center;
    }
    p{
        display:block;
        font-size: 25px;
        margin-top: 10px;
    }
    table,tr,td,th{
        font-size: 26rem;
    }
}